storage: /verdaccio/storage/data

uplinks:
  npmjs:
    url: "https://registry.npmjs.org/"

packages:
  "@*/*":
    access: $all
    publish: $all
    proxy: npmjs

  "**":
    access: $all
    publish: $all
    proxy: npmjs

middlewares:
  audit:
    enabled: true

logs:
  - { type: stdout, format: pretty, level: http }
